<head th:include="fragments/header :: head">
   <title>${pagetitle}</title>
   <!-- metas, link and scripts -->
</head>
<body>
<div class="row" th:include="fragments/header :: menu"></div>
<div class="row">
	<div class="large-12 columns">
		<img src="http://placehold.it/1000x400"></img>
		<hr/>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table>
			<tr>
				<td>Metric</td>				
			</tr>
			<tr th:each="entry : ${metrics}">
				<td th:text="${entry.key}">key</td>
			</tr>
		</table>
	</div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>	
